<script src="<?= $this->Url->build('/', true) ?>vendor/elisyam/js/base/jquery.min.js"></script>
<script src="<?= $this->Url->build('/', true) ?>vendor/elisyam/js/base/core.min.js"></script>
<script src="<?= $this->Url->build('/', true) ?>assets/vendors/js/nicescroll/nicescroll.min.js"></script>
<script src="<?= $this->Url->build('/', true) ?>vendor/elisyam/js/app/app.min.js"></script>

<script src="<?= $this->Url->build('/', true) ?>vendor/bootstrap-sweetalert/sweetalert.js"></script>

<script src="<?= $this->Url->build('/', true) ?>js/custom.js"></script>


