.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

body {
    font-family: 'Work Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', cursive;
    color: var(--primary-color) !important;
}

.login-page {
    background: var(--secondary-color);
}

.widget-header h1, .widget-header h2, .widget-header h3, .widget-header h4, .widget-header h5, .widget-header h6 {
    color: var(--primary-color-hover);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color-hover);
    background: var(--primary-color-hover);
}

.db-modern .header {
    background: #fff;
}

.horizontal-menu {
    background: var(--primary-color);
}

.horizontal-menu .main-menu .collapse ul ul,
.horizontal-menu .main-menu .collapse ul ul.dropdown-menu {
    background: var(--primary-color);
}

.horizontal-menu a {
    color: #fff !important;
}

.horizontal-menu a:hover {
    background: var(--primary-color-hover);
}

.bg-dark-grey {
    background: darkslategrey;
}

.bg-dark-grey h2 {
    color: #fff;
}
.bg-primary {
    background: var(--primary-color) !important;
}

.bg-primary h2 {
    color: #fff !important;
}

.reorder-icon-cell:hover {
    cursor: move;
}

.a-primary {
    color: var(--primary-color) !important;
    text-decoration: none;
}

.a-primary:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.a-info {
    color: #5bc0de;
    text-decoration: none;
}

.a-info:hover {
    color: #5bc0de;
    text-decoration: underline;
}

.a-danger {
    color: #fe195e;
    text-decoration: none;
}

.a-danger:hover {
    color: #fe195e;
    text-decoration: underline;
}

.btn-outline-light {
    color: #fff;
}

input[type="color"] {
    visibility: hidden;
}

label.colour-picker-label {
    height: 32px;
    width: 32px;
    border: 1px solid #333;
}

.page, .page-content, .content-inner, .content-inner > .container {
    height: 100%;
}

.alert {
    border-radius: unset;
}

.alert-success {
    border: 1px solid #5cb85c;
    border-left: 10px solid #5cb85c;
    background: #cee9ce;
    color: #1b371b;
}

.alert-warning {
    border: 1px solid #f0ad4e;
    border-left: 10px solid #f0ad4e;
    background: #fae6c9;
    color: #483317;
}

.alert-danger {
    border: 1px solid #c9302c;
    border-left: 10px solid #c9302c;
    background: #eec0bf;
    color: #3c0e0d;
}

.page-breadcrumb {
    background: #f4f4f4;
    border: 1px solid #eaeaea;
    padding: 6px 14px;
    margin-bottom: 25px;
}